<div class="card">
  <div class="card-header" data-background-color="kupu-pink">
    <h4 class="title">Group Claim Status</h4>
    <p class="category">Last claim : Justin claimed on 15th October, 2017</p>
  </div>
  <div class="card-content table-responsive">
    <table class="table table-hover">
      <thead class="text-warning">
        <th>No.</th>
        <th>Name</th>
        <th>Claim Amount </th>
        <th>Place</th>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Adrisya Wang</td>
          <td>RP 2899000</td>
          <td>Jakarta</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Nenz Usez</td>
          <td>RP 153300</td>
          <td>Bali</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Sintia Mardiana</td>
          <td>RP 235500</td>
          <td>Java</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Ratna Tandi Apsari</td>
          <td>RP 55200</td>
          <td>Bandung</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>