.video {
    /* box-shadow: 1px 6px 10px 2px rgba(35, 35, 35, 0.62); */
    /* height: 400px; */
    max-height: 800px;
    position: relative;
    /* width: 300px;
    float: left; */
  }

  .video-controls{
    position: absolute;
    z-index: 60000;
    left: 40%;
    top: 80%
  }

  .video-timer{
    position: absolute;
    z-index: 60000;
    left: 45%;
    top: 10%
  }