<div class="row">
  <video  #video class="video col-md-12">
    <!-- <video #video class="video"></video> -->
  </video>
  <div class="col-md-12">
    <div class="video-controls">
      <button *ngIf="!isRecording" class="btn btn-default kupu-pink" (click)="startRecording()"> Record </button>
      <button *ngIf="isRecording" class="btn btn-default kupu-pink" (click)="stopRecording()"> Stop</button>
      <button *ngIf="isRecordingCompleted" class="btn btn-default kupu-pink" (click)="submitRecording()"> Submit</button>
    </div>
  </div>
</div>