<div class="row">
  <div  *ngIf="timer" style="color: red; font-size: 20px" class="video-timer">{{timer}} s</div>
  <video  #video class="video col-md-12"></video>
  <div class="video-controls">
    <button tooltip="Start" tooltipPlacement="top" 
        *ngIf="!isRecording && !isRecordingCompleted && !isSourcePlaying" class="btn btn-default btn-circle btn-lg kupu-pink" (click)="startRecording()"> 
        <i class="fa fa-3x fa-circle faa-passing-reverse"></i> 
    </button>
    <button tooltip="Stop" tooltipPlacement="top"  
        *ngIf="isRecording" class="btn btn-default btn-circle btn-lg kupu-pink" (click)="stopRecording()"> 
        <i class="fa fa-3x fa-stop-circle faa-passing-reverse"></i>
    </button>
    <button tooltip="Play" tooltipPlacement="top"  
        *ngIf="isRecordingCompleted" class="btn btn-default btn-circle btn-lg kupu-pink" (click)="playVideo()"> 
        <i class="fa fa-3x fa-play-circle faa-passing-reverse"></i>
    </button>
    <button tooltip="{{submitMessage}}" tooltipPlacement="top"  
        *ngIf="isRecordingCompleted" class="btn btn-default btn-circle btn-lg kupu-pink" (click)="submitRecording()"> 
        <i class="fa fa-3x fa-check-circle faa-passing-reverse"></i>
    </button>
    <button tooltip="Record Again" tooltipPlacement="top"  
        *ngIf="isRecordingCompleted" class="btn btn-default btn-circle btn-lg kupu-pink" (click)="recordAgain()"> 
        <i class="fa fa-3x fa-undo faa-passing-reverse"></i>
    </button>
    <button tooltip="Close" tooltipPlacement="top"  
        *ngIf="isSourcePlaying" class="btn btn-default btn-circle btn-lg kupu-pink" (click)="stopAndClose()"> 
        <i class="fa fa-3x fa-times faa-passing-reverse"></i>
    </button>
  </div>
</div>