<div class="main-content">
  <div class="container-fluid">
    <div id="frame">
      <app-loader *ngIf="loading"></app-loader>
      <div *ngIf="!loading" class="chatcontent">
        <div class="contact-profile">
          <img src="../assets/images/irene.png" alt="" />
          <p>Irene</p>
        </div>
        <div class="messages">
          <ul>
            <li *ngFor="let msg of messages; let i = index;" class="{{msg.type}}">
              <img *ngIf="checkIrene(msg.type)" src="../assets/images/irene.png" alt="" />
              <img *ngIf="!checkIrene(msg.type)" src="{{userData.ProfileLink}}" alt="" />
              <p *ngIf="msg.loader">
                <span></span>
              </p>
              <p *ngIf="msg.text">
                <a (click)="undoChat(msg.undo, i)" href="javascript:void(0)" *ngIf="msg.undo" class="closeButton"></a>
                {{msg.text}}
              </p>
            </li>
          </ul>
          <ul>
            <li class="date-time-container" *ngIf="userActions.selectDate">
              <owl-date-time (onSelect)="onSelectDate($event)" [defaultMoment]="now" inline="true" hourFormat='12' type="calendar"></owl-date-time>
              <owl-date-time (onSelect)="onSelectTime($event)" [defaultMoment]="now" inline="true" hourFormat='12' type="timer"></owl-date-time>
            </li>
            <li *ngIf="userActions.purpose" class="send" style="padding-top: 60px;text-align: center;">
              <button *ngIf="userPolicies.length > 0" [@zoomInUp1]="''" (click)="onClaimChoice()" class="btn chat-button btn-primary">I want to make a Claim</button>
              <!-- <button [@zoomInUp2]="''" class="btn chat-button btn-primary">Activate</button> -->
            </li>
            <li *ngIf="userActions.confirmIMEI" class="send" style="padding-top: 60px;text-align: center;">
              <button [@zoomInUp1]="''" (click)="onConfirmingIMEIBlockage(true)" class="btn chat-button btn-primary">Accept</button>
              <button [@zoomInUp2]="''" (click)="onConfirmingIMEIBlockage(false)" class="btn chat-button btn-primary">Deny</button>
            </li>
            <li *ngIf="userActions.claimType" class="send" style="padding-top: 60px;text-align: center;">
              <button [@zoomInUp1]="''" *ngFor="let reason of claimMainReason; let i = index" (click)="onClaimTypeChoice(reason)" class="btn chat-button btn-primary">{{reason.label}}</button>
            </li>
            <li *ngIf="userActions.claimReason" class="send" style="padding-top: 60px;text-align: center;">
              <button [@zoomInUp1]="''" *ngFor="let reason of claimSubReason" (click)="onClaimReasonChoice(reason)" class="btn chat-button btn-primary border-button">{{reason.label}}</button>
            </li>
            <li *ngIf="userActions.selectDamageType" class="send" style="padding-top: 60px;text-align: center;">
              <button [@zoomInUp1]="''" *ngFor="let type of claimDamageType" (click)="onSelectDamageType(type, $event)" class="btn chat-button btn-primary border-button">{{type.label}}</button>
            </li>
            <li *ngIf="userActions.warrantyConfirm" class="send" style="padding-top: 60px;text-align: center;">
              <button [@zoomInUp1]="''" (click)="confirmWarranty(true)" class="btn chat-button btn-primary">Yes</button>
              <button [@zoomInUp2]="''" (click)="confirmWarranty(false)" class="btn chat-button btn-primary">No</button>
            </li>
            <li *ngIf="userActions.confirmDeductable" class="send" style="padding-top: 60px;text-align: center;">
              <button [@zoomInUp1]="''" (click)="onConfirmDeductable(true)" class="btn chat-button btn-primary">Yes</button>
              <button [@zoomInUp2]="''" (click)="onConfirmDeductable(false)" class="btn chat-button btn-primary">No</button>
            </li>
            <li *ngIf="userActions.policeReportConfirm" class="send" style="padding-top: 60px;text-align: center;">
              <button [@zoomInUp1]="''" (click)="onConfirmPoliceReport(true)" class="btn chat-button btn-primary">Yes</button>
              <button [@zoomInUp2]="''" (click)="onConfirmPoliceReport(false)" class="btn chat-button btn-primary">No</button>
            </li>
            <li *ngIf="userActions.uploadSelfieVideo" style="padding-top: 60px;text-align: center;">
              <button (click)="tryRecording=true" data-toggle="modal" data-target="#myModal" type="button" class="btn btn-default btn-circle btn-xl kupu-pink">
                <i class="fa fa-video-camera faa-passing-reverse animated"></i>
              </button>
            </li>
            <li *ngIf="userActions.uploadPoliceReport" style="padding-top: 60px;text-align: center;">
              <button (click)="triggerFileUpload()" data-toggle="modal" class="btn btn-default btn-circle btn-xl kupu-pink">
                <i class="fa fa-file faa-passing-reverse animated"></i>
              </button>
              <input id='fileid' accept="images/*" style="display: none" type='file' hidden/>
            </li>
            <li *ngIf="uploadProgress && uploadProgress < 100" style="padding-top: 60px;text-align: center;" >
              <circle-progress [percent]="uploadProgress" [radius]="'20'" ></circle-progress>
            </li>
          </ul>
        </div>


        <div class="message-input">
          <div class="wrap">
            <input *ngIf="!userActions.selectPlace" [(ngModel)]="userInput" [disabled]="disableUserInput" type="text" placeholder="{{helpText}}" />
            <input id="googleAutoComplete" *ngIf="userActions.selectPlace" [(ngModel)]="userInput" #search  type="text" placeholder="{{helpText}}" />
            <div id="claimSelect" class="dropup">
              <ul [@zoomInUp1]="''" class="dropdown-menu">
                <li *ngFor="let item of userPolicies">
                  <a class="custom-drop" (click)="onSelectPolicy(item)" href="javascript:void(0)">{{item.Device}}</a>
                </li>
              </ul>
            </div>
            <div *ngIf="claimDamageHow" id="claimHowSelect" class="dropup">
              <ul [@zoomInUp1]="''" class="dropdown-menu">
                <li *ngFor="let item of claimDamageHow">
                  <a class="custom-drop" (click)="onSelectHowDamaged(item)" href="javascript:void(0)">{{item.label}}</a>
                </li>
              </ul>
            </div>
            <button (click)="onSend()" [disabled]="disableSubmit" class="submit">
              <img src="../assets/images/send.png" width="66px">
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<div data-backdrop="false" id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body" style="padding: 0px;">
        <app-video-record (onSubmission)="onSubmitVideo($event)" *ngIf="tryRecording"></app-video-record>
      </div>
    </div>
  </div>
</div>