<div class="main-content">
  <div class="container-fluid">
    <div id="frame">
      <app-loader *ngIf="loading"></app-loader>
      <div *ngIf="!loading" class="chatcontent">
        <div class="contact-profile">
          <img src="../assets/images/irene.png" alt="" />
          <p>Irene</p>
        </div>
        <div class="messages">
          <ul>
            <li *ngFor="let msg of messages" class="{{msg.type}}">
              <img src="../assets/images/irene.png" alt="" />
              <p *ngIf="msg.loader">
                  <span ></span>
              </p>
              <p *ngIf="msg.text">
                <a (click)="undoChat(msg.undo)" href="javascript:void(0)" *ngIf="msg.undo" class="closeButton"></a>
                {{msg.text}}
              </p>
            </li>
          </ul>
          <ul>
            <li *ngIf="userActions.purpose" class="send" style="padding-top: 60px;text-align: center;">
              <button *ngIf="userPolicies.length > 0" [@zoomInUp1]="''" (click)="onClaimChoice()" class="btn chat-button btn-primary">Claim</button>
              <button [@zoomInUp2]="''" class="btn chat-button btn-primary">Activate</button>
            </li>
            <li *ngIf="userActions.claimType" class="send" style="padding-top: 60px;text-align: center;">
                <button [@zoomInUp1]="checkAnimation(0, i)" [@zoomInUp2]="checkAnimation(1, i)" *ngFor="let reason of claimMainReason; let i = index" (click)="onClaimTypeChoice(reason)" class="btn chat-button btn-primary">{{reason.label}}</button>
            </li>
            <li *ngIf="userActions.claimReason" class="send" style="padding-top: 60px;text-align: center;">
                <button [@zoomInUp1]="checkAnimation(0, i)" [@zoomInUp2]="checkAnimation(1, i)"  *ngFor="let reason of claimSubReason" (click)="onClaimReasonChoice(reason)" class="btn chat-button btn-primary">{{reason.label}}</button>
            </li>
          </ul>
        </div>
       
      
        <div class="message-input">
          <div class="wrap">
            <!-- <input type="text" placeholder="Type your address..." /> -->
            <div id="claimSelect" class="dropup">
              <input disabled class="dropdown-toggle"/>
              <ul [@zoomInUp1]="''" class="dropdown-menu">
                <li *ngFor="let item of userPolicies"><a class="custom-drop" (click)="onSelectPolicy(item)" href="javascript:void(0)">{{item.Device}}</a></li>
              </ul>
            </div>
            <!-- <i class="fa fa-paperclip attachment" aria-hidden="true"></i> -->
            <button class="submit">
              <img src="../assets/images/send.png" width="66px">
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>