.details {
    height: 80px;
    width: 80px;
    border-radius: 50px;
    float: left;
}

.details i {
    font-size: 36px;
    line-height: 56px;
    width: 56px;
    height: 56px;
	padding-top: 10px;
}