<div class="timeline">

  <div class="line text-muted"></div>


  <!-- Separator -->
  <div class="separator text-muted">
    <time>26. 3. 2015</time>
  </div>

  <article class="panel panel-success">

    <div class="panel-heading icon">
      <i class="fa fa-circle pink-color"></i>
    </div>

    <div class="panel-body">
      <strong>You</strong> have activated your policy with reference number #IN12
    </div>

  </article>

  <!-- Separator -->
  <div class="separator text-muted">
    <time>25. 3. 2015</time>
  </div>

  <article class="panel panel-success">

    <div class="panel-heading icon">
      <i class="fa fa-circle pink-color"></i>
    </div>

    <div class="panel-body">
      <strong>You</strong> purchased insurance policy for your one plus 3t
    </div>

  </article>

  <!-- Separator -->
  <div class="separator text-muted">
    <time>24. 3. 2015</time>
  </div>

  <article class="panel panel-danger panel-outline">

    <div class="panel-heading icon">
      <i class="fa fa-circle pink-color"></i>
    </div>

    <div class="panel-body">
      <strong>You</strong> have joined insureturn Your profile created successfully
    </div>

  </article>

</div>
