<div class="main-content">
    <div class="container-fluid">
        <app-loader *ngIf="loading"></app-loader>
        <div *ngIf="!loading" class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" data-background-color="kupu-pink">
                        <h4 class="title">Edit Profile</h4>
                        <p class="category">Complete your profile</p>
                    </div>
                    <div class="card-content">
                        <form>
                            <fieldset>
                                <legend>Personal</legend>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group form-black label-floating">
                                            <label class="control-label">Fist Name</label>
                                            <input [disabled]="viewMode" #firstName="ngModel" required minlength="3" name="firstName" [(ngModel)]="userData.FirstName" type="text" class="form-control">
                                            <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="">
                                                <div *ngIf="firstName.errors.required">
                                                    Name is required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-black label-floating">
                                            <label class="control-label">Last Name</label>
                                            <input [disabled]="viewMode" name="lastName" [(ngModel)]="userData.LastName" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-black label-floating">
                                            <label class="control-label">Phone Number</label>
                                            <input [disabled]="viewMode" name="phone" [(ngModel)]="userData.Users_PhoneNumber" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group form-black label-floating">
                                            <label class="control-label">Birthday</label>
                                            <input [disabled]="viewMode" name="birthDay" [(ngModel)]="userData.BirthDateFormated" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-black label-floating">
                                            <label class="control-label">Username</label>
                                            <input [disabled]="viewMode" name="userName" [(ngModel)]="userData.LastName" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-black label-floating">
                                            <label class="control-label">Email address</label>
                                            <input [disabled]="viewMode" name="email" [(ngModel)]="userData.Email" type="email" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-black label-floating">
                                            <label class="control-label">Adress Line 1</label>
                                            <input [disabled]="viewMode" name="address" [(ngModel)]="userData.Users_AddressLine1" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-black label-floating">
                                            <label class="control-label">Adress Line 2</label>
                                            <input [disabled]="viewMode" name="address1" [(ngModel)]="userData.Users_AddressLine2" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group form-black label-floating">
                                            <label class="control-label">City</label>
                                            <input [disabled]="viewMode" name="locality" [(ngModel)]="userData.Users_Locality" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-black label-floating">
                                            <label class="control-label">Country</label>
                                            <input [disabled]="viewMode" name="country" [(ngModel)]="userData.Users_CountryName" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-black label-floating">
                                            <label class="control-label">Postal Code</label>
                                            <input [disabled]="viewMode" name="postal" [(ngModel)]="userData.Users_Postal" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Documents</legend>
                                <div class="row">
                                    <div class="col-md-4 col-xs-8">
                                        <div class="form-group form-black label-floating">
                                            <label class="control-label">KTP No</label>
                                            <input [disabled]="viewMode" name="userId" [(ngModel)]="userData.Users_KTP" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-xs-4">
                                        <button (click)="triggerFileUpload('ktpFile')" tooltip="Upload KTP" tooltipPlacement="top"  class="btn btn-default btn-circle btn-lg kupu-pink">
                                            <i class="fa fa-file"></i>
                                        </button>
                                        <input name="FileInput" id='ktpFile' accept="images/*" style="display: none" type='file' hidden/>
                                    </div>
                                    <div class="col-md-4 col-xs-8">
                                        <div class="form-group form-black label-floating">
                                            <label class="control-label">Id No</label>
                                            <input [disabled]="viewMode" name="ktpNo" [(ngModel)]="userData.Users_Id" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-xs-4">
                                        <button (click)="triggerFileUpload('idFile')" tooltip="Upload Id" tooltipPlacement="top"  class="btn btn-default btn-circle btn-lg kupu-pink">
                                            <i class="fa fa-file"></i>
                                        </button>
                                        <input name="FileInput" id='idFile' accept="images/*" style="display: none" type='file' hidden/>
                                    </div>
                                    <div class="col-md-4 col-xs-8">
                                        <div class="form-group form-black label-floating">
                                            <label class="control-label">Passport No</label>
                                            <input [disabled]="viewMode" name="passportNo" [(ngModel)]="userData.Users_Passport" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-xs-4">
                                        
                                        <button (click)="triggerFileUpload('passportFile')" tooltip="Upload Passport" tooltipPlacement="bottom"  class="btn btn-default btn-circle btn-lg kupu-pink">
                                            <i class="fa fa-file"></i>
                                        </button>
                                        <input id='passportFile' name="FileInput" accept="images/*" style="display: none" type='file' hidden/>
                                    </div>
                                </div>
                            </fieldset>
                            <button (click)="viewMode = false" *ngIf="viewMode" tooltip="Edit" tooltipPlacement="bottom"  class="btn btn-default btn-circle btn-lg kupu-pink pull-right">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button (click)="submitProfile()" *ngIf="!viewMode" tooltip="Submit" tooltipPlacement="bottom"  title="Submit" class="btn btn-default btn-circle btn-lg kupu-pink pull-right">
                                <i class="fa fa-check"></i>
                            </button>
                            <button (click)="viewMode = true" *ngIf="!viewMode" tooltip="Cancel" tooltipPlacement="bottom"  title="Cancel" class="btn btn-default btn-circle btn-lg kupu-pink pull-right">
                                <i class="fa fa-times"></i>
                            </button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a>
                            <img class="img" src="../assets/images/group1.png" />
                        </a>
                    </div>
                    <div class="content">
                        <h6 class="category text-gray">Whatzapp group</h6>
                        <h4 class="card-title">Bali Lovers</h4>
                        <p class="card-content">
                            Memebers : 250
                        </p>
                        <a href="#" class="btn btn-primary btn-round">Visit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>